# Python package
# Create and test a Python package on multiple Python versions.
# Add steps that analyze code, save the dist with the build record, publish to a PyPI-compatible index, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/python

trigger:
- main

pool:
  name: Default
  demands:
   - agent.name -equals DESKTOP-DBNL3H0
strategy:
  matrix:
    Python37:
      python.version: '3.7'

steps:
- task: UsePythonVersion@0
  inputs:
    versionSpec: '$(python.version)'
  displayName: 'Use Python $(python.version)'

- script: |
    py -m venv env
    call .\env\Scripts\activate.bat
    pip install -r requirements.txt
  displayName: 'Install dependencies'

- script: |
    robocop -A robocop.cfg
    if %errorlevel% neq 0 exit /b %errorlevel%
  displayName: 'Check static code analysis of .robot files'

- script: |
    start cmd.exe /c python demoapp/server.py
  displayName: 'Start application demo'

- script: |
    robot -x outputxunit.xml login_tests
  displayName: 'Start testing application demo'